
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Reclutamiento.</h1>
        <p class="lead">
          Se intenta resolver funciones pedidas en prueba para la postulación.
        </p>
        <p class="lead">
          <a [routerLink]="['/question1']" class="btn btn-lg btn-secondary"
            >Pregunta 1
          </a>
        </p>

        <p class="lead">
          <a [routerLink]="['/question2']" class="btn btn-lg btn-secondary"
            >Pregunta 2
          </a>
        </p>
      </main>
